<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Points Manager</title>
    <!-- Konva.js -->
    <script src="https://cdn.jsdelivr.net/npm/konva@8.4.3/konva.min.js"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        body {
            margin: 0;
            display: flex;
            height: 100vh;
            position: relative;
        }

        #container {
            flex: 1;
            background: #f0f0f0;
        }

        #sidebar {
            width: 300px;
            padding: 10px;
            background: #fff;
            border-left: 1px solid #ccc;
            overflow-y: auto;
        }

            #sidebar input {
                width: 100%;
                margin-bottom: 8px;
            }

        h3 {
            margin-bottom: 8px;
        }

        button {
            cursor: pointer;
            margin-bottom: 8px;
        }
        /* hidden editors */
        #comment-text-editor, #comment-color-picker {
            position: absolute;
            display: none;
            z-index: 10;
        }
    </style>
</head>
<body>
    <div id="container"></div>
    <input type="text" id="comment-text-editor" />
    <input type="color" id="comment-color-picker" />
    <div id="sidebar">
        <h3>Create New Point</h3>
        <input type="number" id="new-x" placeholder="X" value="50" />
        <input type="number" id="new-y" placeholder="Y" value="50" />
        <input type="number" id="new-radius" placeholder="Radius" value="30" />
        <input type="color" id="new-color" value="#00aced" />
        <button id="create-point" type="button">Create Point</button>
        <hr />
        <h3>Edit Point</h3>
        <input type="hidden" id="point-id" />
        <input type="number" id="point-radius" placeholder="Radius" />
        <input type="color" id="point-color" />
        <button id="save-point" type="button">Save Changes</button>
        <input type="text" id="point-comment" placeholder="Comment" />
        <input type="color" id="comment-color" />
        <button id="save-point" type="button">Add Comment</button>
    </div>


<script>

    var selectedPoint = null;

    var stage = new Konva.Stage({
        container: 'container',
        width: window.innerWidth - 300,
        height: window.innerHeight
    });

    var layer = new Konva.Layer();
    stage.add(layer);

    var entities = {};
    var commentGroups = {};

    function loadPoints() {
        axios.get('/api/v1/points').then(function(resp) {
            layer.destroyChildren();
            entities = {};
            commentGroups = {};
            resp.data.forEach(function(p) {

                var group =  new Konva.Group({
                    x: p.x,
                    y: p.y,
                    draggable: true
                });

                entities[p.id] = { point: p, shape: group };
                layer.add(group);

                group.on('click', function() { selectPoint(p.id) });
                group.on('dragmove', function() { p.x = group.x(); p.y = group.y(); layer.batchDraw(); });
                group.on('dragend', function() { selectPoint(p.id); axios.put('/api/v1/points/' + p.id, p); });
                
                drawPoint(p.id);
                drawComments(p.id);
            });
            layer.draw();
        });
    }

    function drawPoint(pointId)
    {
        var entity = entities[pointId];
        var point = entity.point;
        var shape = entity.shape;

        var circle = new Konva.Circle(
        { 
            radius: point.radius, 
            fill: point.colorHEX, 
            stroke: '#000', 
            strokeWidth: 1, 
        });
        
        circle.on('dblclick', function() { axios.delete('/api/v1/points/' + pointId).then(loadPoints); });
        shape.add(circle);     
    }

    function drawComments(pointId) 
    {
        var entity = entities[pointId];
        if(!entity)
            return;

        var point = entity.point;
        var shape = entity.shape;

        shape.getChildren(c => c.getClassName() != 'Circle').forEach(function (c) {
            c.destroy();
        });

        var spacing = 6;
        var commentWidth = point.radius * 6;
        var baseY = point.radius + 20;

        point.comments.forEach(function(c, i){
            var yPos = baseY + i * (28 + spacing);
            var rectangle = new Konva.Group({
                x: commentWidth / 2 * (-1),
                y: yPos,
                width: commentWidth,
                height: 28
            }); 

            rectangle.add(new Konva.Rect({
                width: commentWidth,
                height: 28,
                fill: c.colorHEX
            }));

            rectangle.add(new Konva.Text({
                text: c.text,
                fontSize: 18,
                fontFamily: 'Calibri',
                fill: '#000',
                width: commentWidth,
                padding: 5,
                align: 'center'
            }));
            shape.add(rectangle);
        });


        // var baseY = p.y + p.radius + 10;
        // var commentWidth = p.radius * 6;

        // (p.comments || []).forEach(function(c, i) {
        //     var yPos = baseY + i * (28 + spacing);

        //     var background = new Konva.Rect({ x: p.x - commentWidth/2, y: yPos, width: commentWidth, height: 28, fill: c.colorHEX, cornerRadius: 4 });
        //     var text = new Konva.Text({ text: c.text, fontSize: 14, x: background.x() + 24, y: yPos + 6, width: commentWidth - 48, align: 'left' });

        //     //delete X
        //     var deleteX = new Konva.Text({ text: '✖', fontSize: 14, x: background.x() + commentWidth - 18, y: yPos + 6, fill: '#000' });

        //     //events
        //     text.on('dblclick', function(evt) {
        //     openTextEditor(evt, c);
        //     });
        //     colorSq.on('click', function(evt) {
        //     openColorPicker(evt, c);
        //     });
        //     deleteX.on('click', function() {
        //     p.comments = p.comments.filter(function(cc) { return cc !== c; });
        //     updateComments(p.id, p.comments);
        //     });

        //     group.add(background, colorSq, text, deleteX);
        // });

        // layer.add(group);
        // commentGroups[p.id] = group;
    }

    function selectPoint(pointId)
    {
        selectedPoint = entities[pointId].point;
        document.getElementById("point-color").value = selectedPoint.colorHEX;
        document.getElementById("point-radius").value = selectedPoint.radius;
    }

    document.getElementById('point-radius').addEventListener('input', function() {
        if(!selectedPoint)
            return;

        selectedPoint.radius = parseInt(document.getElementById('point-radius').value);
        var shape = entities[selectedPoint.id].shape;
        shape.getChildren()[0].setAttr('radius', selectedPoint.radius);
        drawComments(selectedPoint.id);
    });

    document.getElementById('point-color').addEventListener('input', function() {
        if(!selectedPoint)
            return;

        selectedPoint.colorHEX = document.getElementById('point-color').value;
        var shape = entities[selectedPoint.id].shape;
        shape.getChildren()[0].setAttr('fill', selectedPoint.colorHEX);
    });

    document.getElementById('save-point').addEventListener('click', function() {
        if(selectedPoint)
            axios.put('/api/v1/points/'+selectedPoint.id, selectedPoint).then(loadPoints);
    });

    document.getElementById('point-comment').addEventListener('click', function() {
        var commentText = document.getElementById("point-comment").value;
        if(!selectedPoint || commentText == '')
            return;

        var colorHEX = document.getElementById("comment-color").value;
        var comment = { text: commentText, colorHEX: colorHEX };
        selectedPoint.comments.push(comment);
    });

    


    loadPoints();

// app.js
// (function() {
  
  
//   var points = {}, commentGroups = {};
//   var selectedId = null;
//   var textEditor = document.getElementById('comment-text-editor');
//   var colorPicker = document.getElementById('comment-color-picker');
//   var currentEdit = null; { commentObj, type }



//   function openTextEditor(evt, comment) {
//     var pos = stage.getPointerPosition();
//     textEditor.style.left = pos.x + 'px';
//     textEditor.style.top = pos.y + 'px';
//     textEditor.value = comment.text;
//     textEditor.style.display = 'block';
//     textEditor.focus();
//     currentEdit = { comment: comment, type: 'text', pointId: selectedId };
//   }
//   function openColorPicker(evt, comment) {
//     var pos = stage.getPointerPosition();
//     colorPicker.style.left = pos.x + 'px';
//     colorPicker.style.top = pos.y + 'px';
//     colorPicker.value = comment.colorHEX;
//     colorPicker.style.display = 'block';
//     currentEdit = { comment: comment, type: 'color', pointId: selectedId };
//   }

//   textEditor.addEventListener('blur', function() {
//     if (currentEdit && currentEdit.type === 'text') {
//       currentEdit.comment.text = textEditor.value;
//       updateComments(currentEdit.pointId, points[currentEdit.pointId].data.comments);
//     }
//     textEditor.style.display = 'none';
//     currentEdit = null;
//   });
//   colorPicker.addEventListener('input', function() {
//     if (currentEdit && currentEdit.type === 'color') {
//       currentEdit.comment.colorHEX = colorPicker.value;
//       updateComments(currentEdit.pointId, points[currentEdit.pointId].data.comments);
//     }
//   });
//   colorPicker.addEventListener('blur', function() {
//     colorPicker.style.display = 'none'; currentEdit = null;
//   });

  

//   function updateComments(id, comments) {
//     axios.put('/api/v1/points/'+id, Object.assign({}, points[id].data, { comments: comments })).then(loadPoints);
//   }

//   document.getElementById('create-point').addEventListener('click', function() {
//     var x=+document.getElementById('new-x').value,
//         y=+document.getElementById('new-y').value,
//         r=+document.getElementById('new-radius').value,
//         col=document.getElementById('new-color').value;
//     axios.post('/api/v1/points',{x:x,y:y,radius:r,colorHEX:col,comments:[]}).then(loadPoints);
//   });


//   loadPoints();
// })();
</script>
</body>
</html>