<div id="container"></div>
<input type="text" id="comment-text-editor" />
<input type="color" id="comment-color-picker" />
<div id="sidebar">
    <h3>Create New Point</h3>
    <input type="number" id="new-x" placeholder="X" value="50" />
    <input type="number" id="new-y" placeholder="Y" value="50" />
    <input type="number" id="new-radius" placeholder="Radius" value="30" />
    <input type="color" id="new-color" value="#00aced" />
    <button id="create-point" type="button">Create Point</button>
    <hr />
    <h3>Edit Point</h3>
    <input type="hidden" id="point-id" />
    <input type="number" id="point-radius" placeholder="Radius" />
    <input type="color" value="#00aced" id="point-color" />
    <input type="text" id="point-comment" placeholder="Comment" />
    <input type="color" value="#00aced" id="comment-color" />
    <button id="add-comment" type="button">Add Comment</button>
</div>

<script src="~/js/app.js"> </script>